.agenda-box{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 1px 1px 10px silver;
    width: 25rem;
    border-radius: 20px;
    padding: 1rem;
}

.data-agenda{
    display: flex;
    justify-content: space-between;
}

.data-agenda span{
    font-weight: 400;
}

.icons-agenda{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}