


.client-box {
    min-height: 3rem;
    width: 90%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgb(218, 218, 218);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 10px 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
}

.data-client{
    width: 20%;
}
.data-client span{
    font-weight: 400;
}
.icons-client{
    display: flex;
    gap: 2rem;
}


